@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* poppins */

body {
    background: #ffffffc4;
    /* color: #fff; */
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

    
  }
  
  input,
  textarea {
    color: #000;
  }




  